extends layout.pug

block title
	title #{__('edit_title')} - #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code !{__('edit_jumbotron', { name: bot.name })}

block content
	.row
		.col-12
			form(method="post")
				.form-group
					label(for="id") #{__('add_id')}
					input#id.form-control(disabled value=bot.id type="text" maxlength="70" placeholder=__('add_id_placeholder') required pattern="\\d+")
				.form-group
					label(for="name") #{__('add_name')}
					input#name.form-control(value=bot.name type="text" name="name" maxlength="32" placeholder=__('add_name_placeholder'))
				.form-group
					label(for="count") #{__('add_guild_count')}
					input#count.form-control(value=bot.count type="number" name="count" min="0" max="1000000" step="1" placeholder=__('add_guild_count_placeholder') required)
				.form-group
					label(for="avatar") #{__('add_avatar_url')}
					input#avatar.form-control(value=bot.avatar type="text" name="avatar" maxlength="2000" placeholder=__('add_avatar_url_placeholder') pattern="https:\\/\\/.+")
				.form-group
					label(for="invite") #{__('add_invite_url')}
					input#invite.form-control(value=bot.invite type="text" name="invite" maxlength="2000" placeholder=__('add_invite_url_placeholder') pattern="https?:\\/\\/.+")
					p: a(href="https://discordapi.com/permissions.html" target="_blank") #{__('add_invite_url_generator')}
				.form-group
					label(for="shortDesc") #{__('add_shortdesc')}
					input#shortDesc.form-control(value=bot.shortDesc type="text" name="shortDesc" maxlength="200" placeholder=__('add_shortdesc_placeholder') required)
				.form-group
					small.form-text.text-muted #{__('add_longdesc_mute')}
					label(for="type") #{__('add_longdesc')}
					select#type.form-control(name="type" placeholder=__('add_longdesc_placeholder') onchange!="description();" required)
						option(disabled) #{__('add_longdesc_select')}
						option(value="iframe" selected=bot.type==="iframe") #{__('add_longdesc_iframe')}
						option(value="markdown" selected=bot.type==="markdown") #{__('add_longdesc_markdown')}
				#description.form-group
					if bot.type === "iframe"
						input#longDesc.form-control(value=bot.longDesc type="text" name="longDesc" maxlength="2000" required pattern="https:\\/\\/.+")
					else if bot.type === "markdown"
						textarea#longDesc.form-control(name="longDesc" maxlength="20000" rows="6" required) #{bot.longDesc}
				button.btn.btn-primary(type="submit") #{__('add_submit')}
				input.hide(type="text" name="csrf" value=csrf)
				input.hide(type="text" name="id" value=bot.id)

block script
	script(src="/js/add.js")
