html
	head
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="/css/error.css")
		title ls - #{status}
	body
		.background
			// Add image or video with .media class to add fancy background.
		.foreground
			pre: span#typing
		script(src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js")
		script.
			let directory = !{status} === 404 ? '/(unreachable)/' : window.location.pathname;

			const typing = new Typed('#typing', {
				strings: [
					`!{status} - !{message}\n\nterminal@terminal.ink:${directory}$ <a href="/">cd /</a>`
				],
				typeSpeed: 10,
				backSpeed: 0,
				cursorChar: '_',
				fadeOut: true,
				loop: false
			});
