//*
	ls.terminal.ink

	Copyright (C) 2017 Moustacheminer Server Services
	Copyright (C) 2017 ls.terminal.ink

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

html
	head
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(rel="stylesheet" href="/css/error.css")
		meta(name="theme-color" content="#000000")
		meta(property="og:type" content=__('website'))
		link(rel="publisher" href=location)
		meta(name="author" content=website)
		meta(property="og:description" content=message)
		meta(name="og:image" content="/img/favicon.png")
		meta(property="og:title" content=__('website'))
		title #{status} - #{__('website')}
	body
		.background
			// Add image or video with .media class to add fancy background.
		.foreground
			pre: span#typing
		script(src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js")
		script.
			const directory = !{status} === 404 ? '/(!{__('error_unreachable')})/' : window.location.pathname;
			const typing = new Typed('#typing', {
				strings: [
					`!{status} - !{message}\n\n!{__('error_list')}@${location.host}:${directory}$\n\n<a href="/">Home</a> - <a href="#" onclick="window.history.back();">Back</a>`
				],
				typeSpeed: 5,
				backSpeed: 0,
				cursorChar: '_',
				fadeOut: true,
				loop: false
			});
