doctype html

html
	head
		block title
			title #{title ? `${title} -` : ''} #{__('website')}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		meta(name="theme-color" content="#FFFFFF")
		meta(name="author" content="7coil")
		link(rel="publisher" href="https://moustacheminer.com")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet")
		link(href="/css/ls.css" rel="stylesheet")
		link(href="/img/favicon.png" rel="shortcut-icon")
		link(href="/img/favicon.png" rel="icon")
	body
		nav.navbar.navbar-default.navbar-toggleable-md.navbar-inverse.bg-inverse
			button.navbar-toggler.navbar-toggler-right.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
				span.navbar-toggler-icon
			a.navbar-brand(href="/") #{__('nav_header')}
			#navbar.navbar-collapse.collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="/docs") #{__('nav_documentation')}
					li.nav-item
						a.nav-link(href="/all") #{__('nav_all')}
					li.nav-item
						a.nav-link(href="/queue") #{__('nav_queue')}
					if user
						li.nav-item
							span.nav-link #{user.username}
						li.nav-item
							a.nav-link(href="/add") #{__('nav_add')}
						li.nav-item
							a.nav-link(href="/auth/logout") #{__('nav_logout')}
					else
						li.nav-item
							a.nav-link(href="/auth") #{__('nav_login')}
					li.nav-item
						a.nav-link(href="/lang") #{__('nav_lang')}
					a.nav-link(href=list_invite) #{__('list_invite')}
		main
			block jumbotron
			.container
				block content
		footer
			block footer
				.container
					hr
					p #{__('footer_copyright')}
		block script
		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
