extends templates/site.pug

block title
	title #{__('list_remove')} - #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code #{__('remove_jumbotron')}

block content
	.container
		.row
			.col-12
				form.buddon(method="POST")
					select#type.form-control(name="reason" required)
						option(selected disabled required value="") #{__('remove_select')}
						for reason, index in reasons
							option(value=index) #{__(`remove_${reason}`)}
					button.btn.btn-success(type="submit") #{__('proceed')}
					a.btn.btn-danger(href="/") #{__('cancel')}
					input.hide(type="text" name="csrf" value=csrf)

