<div class="ls-main-content container box-shadow ls-round">
  <div class="center">
    <h2>{{i18n __ "pages.locale.choose"}}</h2>
  </div>
  <div class="ls-locale-flags">
    {{#each languageData}}
      {{#each this.flag}}
        <a href="{{languagePrefix}}locale/{{../this.name}}?to={{encodeURIComponent ../../to}}" title="{{i18n ../../__ (concat "locales." ../this.name)}}">
          <i aria-label="{{i18n ../../__ (concat "locales." ../this.name)}}" class="emoji {{this}}"></i>
        </a>
      {{/each}}
    {{/each}}
  </div>
  <div class="center">
    <a href="https://github.com/Terminal/ls.terminal.ink/tree/master/locales">
      {{i18n __ "pages.locale.pleasehelp"}}
    </a>
  </div>
</div>
