extends templates/site.pug

block title
	title #{botinfo.name} - #{__('website')}

block embed
	meta(name="author" content=`${botinfo.ownerinfo.username}#${botinfo.ownerinfo.discriminator}`)
	meta(property="og:description" content=botinfo.shortDesc)
	meta(name="og:image" content=(botinfo.avatar || '/img/terminal.png'))
	meta(property="og:title" content=botinfo.name)
	meta(property="og:site_name" content=__('website'))

block content
	.columns
		.column.is-2
			img.image.is-centered.is-96x96(src=(botinfo.avatar || '/img/terminal.png') alt=__('list_avatar_fail'))
		.column.is-9.bot-info
			span.title.is-4.pad-right #{botinfo.name}
			p #{botinfo.shortDesc}
			p Owner: #{botinfo.ownerinfo.username}##{botinfo.ownerinfo.discriminator}
			p Prefix: 
				code #{botinfo.prefix}
		.column.is-1.has-text-right
			a.button.is-primary(href=botinfo.invite) Invite
	hr
	if botinfo.type === 'iframe'
		iframe.botiframe(src=`${botinfo.longDesc}`)
	else if (botinfo.type === 'markdown' || botinfo.type === 'asciidoc' || botinfo.type === 'html')
		!= render
