extends templates/site.pug

block title
  title #{__('list_title')} - #{__('website')}

block content
  .columns
    .column
      if bots.length
        table#bot-table.table
          thead
            tr
              th.col-avatars
              th Bot
              th.is-hidden-mobile Description
          tfoot
            tr
              th.col-avatars
              th Bot
              th.is-hidden-mobile Description
          tbody
            each botinfo in bots
              tr
                td.col-avatars
                  a(href=`/bots/${botinfo.id}`)
                  img.image.is-square.initial.loaded(src=(botinfo.avatar || '/img/terminal.png') alt=__('list_avatar_fail'))
                td
                  a(href=`/bots/${botinfo.id}`)
                  span.larger #{botinfo.name}
                  br
                  span.control.has-addons
                    a.button(href=`/bot/${botinfo.id}`, target='_blank') View
                    a.button(href=botinfo.invite, target='_blank') Invite
                    a.button(href=`/bot/${botinfo.id}/edit`, target='_blank') Edit
                    a.button(href=`/bot/${botinfo.id}/delete`, target='_blank') Delete
                td.is-hidden-mobile #{botinfo.shortDesc}

