extends templates/site.pug

block title
  title #{botinfo.name} - #{__('website')}

block embed
  meta(name="author" content=`${botinfo.ownerinfo.username}#${botinfo.ownerinfo.discriminator}`)
  meta(property="og:description" content=botinfo.shortDesc)
  meta(name="og:image" content=(botinfo.avatar || '/img/terminal.png'))
  meta(property="og:title" content=botinfo.name)
  meta(property="og:site_name" content=__('website'))

block content
  .profile
    img.profilebotimage(alt=`${botinfo.name}'s avatar` src=botinfo.avatar width='128px' height='128px' style='margin-top:80px;border-radius:50%;')
    h1 #{botinfo.name}
    .ui.label.blue #{botinfo.count} SERVERS
    p#shortDESU #{botinfo.shortDesc}
    if botinfo.editable
      a.ui.google.plus.button(href=`/bot/${botinfo.id}/delete`)
        i.archive.icon
        | Delete
      a.ui.labeled.icon.button(href=`/bot/${botinfo.id}/edit`)
        i.write.icon
        | Edit
      a.ui.labeled.icon.button(href=`/bot/${botinfo.id}/token`)
        i.write.icon
        | Token
    a.ui.labeled.icon.button(href=botinfo.invite)
      i.mouse.pointer.icon
      | Invite
    p#bottprefix Bot Prefix: 
      b #{botinfo.prefix}
    if botinfo.ownerinfo
      each owner in botinfo.ownerinfo
        if owner
          p#createdby
            b
              a#ownerthing.ui.label(style='padding: 5px;' href=`/list/${owner.id}`)
                img.ui.right.spaced.avatar.image(src=`https://images.discordapp.net/avatars/${owner.id}/${owner.avatar}.png` style='border-radius:250px;')
                | #{owner.username}##{owner.discriminator}
    p#longdesc
      if botinfo.type === 'iframe'
        iframe.botiframe(src=`${botinfo.longDesc}`)
      else if (botinfo.type === 'markdown' || botinfo.type === 'asciidoc' || botinfo.type === 'html')
        != render