extends templates/site.pug

block title
  title #{__('delete_title')} - #{__('website')}

block jumbotron
  .jumbotron
    .container
      p.lead.code #{__('delete_sure')}

block content
  .container
    .row
      .col-12
        form.buddon(method="POST")
          button.btn.btn-success(type="submit") #{__('yes')}
          input.hide(type="text" name="csrf" value=`${csrf}`)
        a.btn.btn-danger(href="/") #{__('no')}
