//*
	ls.terminal.ink

	Copyright (C) 2018 Moustacheminer Server Services
	Copyright (C) 2018 ls.terminal.ink
html
	head
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
		link(href="/css/default/error.css" rel="stylesheet")
		meta(name="theme-color" content="#000000")
		meta(property="og:type" content=__('website'))
		link(rel="publisher" href=location)
		meta(name="author" content=website)
		meta(property="og:description" content=message)
		meta(name="og:image" content="/img/favicon.png")
		meta(property="og:title" content=__('website'))
		title #{status} - #{__('website')}
	body
		.background
			// Add image or video with .media class to add fancy background.
		.foreground
			pre: span#typing
		script(src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js")
		script.
			const directory = !{status} === 404 ? '/(!{__('error_unreachable')})/' : window.location.pathname;
			const typing = new Typed('#typing', {
				strings: [
					`!{status} - !{message}\n\n#{__('error_list')}@${location.host}:${directory}$\n\n<a href="/">#{__('error_home')}</a> - <a href="#" onclick="window.history.back();">#{__('error_back')}</a>`
				],
				typeSpeed: 5,
				backSpeed: 0,
				cursorChar: '_',
				fadeOut: true,
				loop: false
			});
