<div class="ls-left-pad ls-flex-row wrap">
  {{#if item.support}}
  <a href="{{item.support}}">
    {{i18n __ "pages.bots.support"}}
  </a>
  {{/if}}
  {{#if item.website}}
  <a href="{{item.website}}">
    {{i18n __ "pages.bots.website"}}
  </a>
  {{/if}}
  {{#if item.github.owner}}
  {{#if item.github.repo}}
  <a href="https://github.com/{{item.github.owner}}/{{item.github.repo}}">
    {{i18n __ "pages.bots.github"}}
  </a>
  {{/if}}
  {{/if}}
  {{#if canEdit}}
    <a href="/bots/{{item.id}}/edit" class="ls-script">
      {{i18n __ "pages.bots.edit"}}
    </a>
    <a href="/bots/{{item.id}}/delete">
      {{i18n __ "pages.bots.delete"}}
    </a>
    <a href="/bots/{{item.id}}/configure">
      {{i18n __ "pages.bots.configure"}}
    </a>
  {{/if}}
  {{#unless item.verified}}
  {{#if user.admin}}
    <form method="POST" action="/bots/{{item.id}}/approve">
      <button class="ls-not-a-button">
        {{i18n __ "pages.bots.approve"}}
      </button>
    </form>
    <a href="/bots/{{item.id}}/deny">
      {{i18n __ "pages.bots.deny"}}
    </a>
  {{/if}}
  {{/unless}}
</div>
