<section class="card">
  <div class="avatar">
    <div class="avatar">
      <img src="{{item.frontmatter.avatar}}" />
    </div>
  </div>
  <div class="card-content">
    <a href={{item.fields.filelink}}>
      <h4 class="title">
        {{item.frontmatter.pagename}}
        {{#if item.frontmatter.nsfw}}
          <span class="ls-list-nsfw">NSFW</span>
        {{/if}}
      </h4>
    </a>
    <span class="description">{{item.frontmatter.description}}</span>
  </div>
  <div class="footer">
    {{#if item.frontmatter.link}}
      <a href="{{item.frontmatter.link}}">{{i18n "pages.list.invite"}}</a>
    {{/if}}
  </div>
</section>
