<section class="card">
  <div class="avatar">
    <img src="{{item.cachedImages.avatar}}" />
  </div>
  <div class="card-content">
    <a href="/bots/{{item.id}}">
      <h4 class="title">
        {{item.contents.name}}
        {{#if item.nsfw}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.nsfw"}}</span>
        {{/if}}
        {{#unless item.verified}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.unverified"}}</span>
        {{/unless}}
      </h4>
    </a>
    <span class="description">{{item.contents.description}}</span>
  </div>
  <div class="footer">
    {{#if item.invite}}
      <a href="{{item.invite}}">{{i18n __ "pages.list.invite"}}</a>
    {{/if}}
  </div>
</section>
