<footer class="container ls-footer">
  <div class="ls-left-pad">
    <a href="https://docs.terminal.ink">
      {{i18n __ "footer.docs"}}
    </a>
    <a href="https://github.com/Terminal/ls.terminal.ink/blob/master/LICENCE">
      {{i18n __ "footer.licence"}}
    </a>
    <a href="https://github.com/Terminal/ls.terminal.ink/network/dependencies">
      {{i18n __ "footer.attribution"}}
    </a>
    <a href="https://github.com/Terminal/ls.terminal.ink">
      {{i18n __ "footer.source"}}
    </a>
    <a href="https://discord.gg/8uC6aKZ" target="_blank" rel="noopener noreferrer">
      {{i18n __ "footer.discord"}}
    </a>
    <a href="https://terminal.ink" target="_blank" rel="noopener noreferrer">
      {{i18n __ "footer.terminal"}}
    </a>
  </div>
  <p class="ls-footer-copyright">{{i18n __ "copyright"}}</p>
</footer>
