<footer class="box-container primary-flat no-border-radius no-margin">
  <div class="center">
    <a class="btn white black-text bold" href="/bots">
      {{{i18n "pages.bots.shortname"}}}
    </a>
    <a class="btn white black-text bold" href="/servers">
      {{{i18n "pages.servers.shortname"}}}
    </a>
    <a class="btn white black-text bold" href="/docs">
      {{{i18n "pages.docs.shortname"}}}
    </a>
    <hr />
    <p>
      <a href="https://github.com/Terminal/Discord_Fork/blob/v2/LICENCE">
        {{{i18n "footer.licence"}}}
      </a>｜
      <a href="https://github.com/Terminal/Discord_Fork/network/dependencies">
        {{{i18n "footer.attribution"}}}
      </a>｜
      <a href="https://github.com/Terminal/Discord_Fork">
        {{{i18n "footer.source"}}}
      </a>｜
      <a href="https://discord.gg/8uC6aKZ" target="_blank" rel="noopener noreferrer">
        {{{i18n "footer.terminal"}}}
      </a>
    </p>
    <pre>
      <p class="ls-footer-copyright">{{{i18n "copyright"}}}</p>
    </pre>
  </div>
</footer>
