<footer class="box-container primary-flat no-border-radius no-margin">
  <div class="center">
    <a class="btn white black-text bold" href="/bots">
      {{i18n __ "pages.bots.shortname"}}
    </a>
    <a class="btn white black-text bold" href="https://docs.terminal.ink/">
      {{i18n __ "pages.docs.shortname"}}
    </a>
    <hr />
    <p>
      <a href="https://github.com/Terminal/Discord_Fork/blob/v2/LICENCE">
        {{i18n __ "footer.licence"}}
      </a>｜
      <a href="https://github.com/Terminal/Discord_Fork/network/dependencies">
        {{i18n __ "footer.attribution"}}
      </a>｜
      <a href="https://github.com/Terminal/Discord_Fork">
        {{i18n __ "footer.source"}}
      </a>｜
      <a href="https://discord.gg/8uC6aKZ" target="_blank" rel="noopener noreferrer">
        {{i18n __ "footer.terminal"}}
      </a>
    </p>
    <pre class="ls-footer-copyright">{{{i18n __ "copyright"}}}</p></pre>
  </div>
</footer>
