<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/index.css" />
<noscript>
  <style>
    .ls-script {
      display: none !important;
    }
    .ls-noscript {
      display: unset !important;
    }
  </style>
</noscript>

{{#if title}}
  <title>{{title}} - {{i18n __ "pages.bots.pagename"}}</title>
  <meta property="og:title" content="{{title}}"/>
{{else}}
  <title>{{i18n __ "pages.bots.pagename"}}</title>
  <meta property="og:title" content="{{i18n __ "pages.bots.pagename"}}"/>
{{/if}}
<meta property="og:site_name" content="{{i18n __ "pages.bots.pagename"}}"/>

{{#if description}}
  <meta property="og:description" content="{{description}}"/>
  <meta name="description" content="{{description}}"/>
{{else}}
  <meta property="og:description" content="{{i18n __ "site.description"}}"/>
  <meta name="description" content="{{i18n __ "site.description"}}"/>
{{/if}}

{{#each (languages)}}
  <link rel="alternate" href="{{webserverLocation}}{{ ../url }}" hreflang="{{this}}" />
{{/each}}

{{#if avatar}}
  <meta property="og:image" content="{{avatar}}"/>
  <link rel="icon" type="image/x-icon" href="{{avatar}}"/>
{{else}}
  <meta property="og:image" content="/img/logo/logo128.png"/>
  <link rel="icon" type="image/x-icon" href="/img/logo/logo64.png"/>
{{/if}}
<meta name="revisit-after" content="2 days"/>
<meta name="keywords" content="ls.terminal.ink, discord, bots, botlist"/>
<meta name="theme-color" content="#3498db"/>

{{#if schema}}
<script type="application/ld+json">
  {{{ stringify schema }}}
</script>
{{/if}}
