<div class="ls-flex-row">
  <input name="{{ name }}" type="text" class="full-width"
    {{#if placeholder}}
      placeholder="{{ i18n __ placeholder }}"
    {{/if}}
    value="{{value}}"
  >
  <button type="button" onclick="newRow(this)" class="ls-button" data-delete-localised="{{ i18n __ "forms.delete"}}">{{ i18n __ "forms.add"}}</button>
  {{#if modal}}
    <button type="button" id="{{modal}}-modal-button" onclick="openModal(this)" class="ls-button">{{ i18n __ "forms.help"}}</button>
  {{/if}}
</div>
