<section class="fullscreen half intro">
	<div class="background ls-intro-background">
	</div>
	<div class="center-object">
		<div class="center-items">
		<a href="/">
			<section class="me unset">
			<img alt="{{i18n __ "pages.bots.backgroundAlt"}}" draggable="false" class="image-title" src="/img/logo/logo.svg" style="width: 7em; height: 7em"></img>
			<div>
				<h1 class="title no-margin white-text">
					{{i18n __ "pages.bots.pagename"}}
				</h1>
				<span class="undertitle white-text">
					{{i18n __ "pages.bots.description"}}
				</span>
			</div>
			</section>
		</a>
		</div>
		<div class="center">
			<a class="btn white emoji-button" aria-label="Languages" href="/locale">
				<span class="emoji twa-globe-showing-europe-africa" />
			</a>
			{{#if user.id}}
				<a class="btn white black-text emoji-button" href="/bots/add">
					{{i18n __ "pages.bots.add"}}
				</a>
				<a class="btn white black-text emoji-button" href="/bots/by/{{user.id}}">
					{{user.username}}
				</a>
				<a class="btn white black-text emoji-button" href="/auth/logout">
					{{i18n __ "intro.logout"}}
				</a>
			{{else}}
				<a class="btn white black-text emoji-button" href="/auth">
					{{i18n __ "intro.login"}}
				</a>
			{{/if}}
		</div>
	</div>
</section>
