<label for="{{ name }}">{{ i18n __ label }}</label>
<div class="ls-flex-column">
  {{#if (isArray value)}}
    {{#each value}}
      {{#if @first}}
        {{>input value=this name=../name modal=../modal __=../__ placeholder=../placeholder}}
      {{else}}
        <div class="ls-flex-row">
          <input name="bot.authors[]" type="text" class="full-width" value={{this}}>
          <button type="button" class="ls-button" onclick="deleteRow(this)">
            Delete
          </button>
        </div>
      {{/if}}
    {{else}}
      {{>input name=name modal=../modal __=__ placeholder=placeholder}}
    {{/each}}
  {{else}}
    {{>input value=default name=name modal=modal __=__ placeholder=placeholder}}
  {{/if}}
</div>
