<a href="{{languagePrefix}}/bots/{{item.id}}">
  <section class="card">
    <div class="avatar">
      <img src="{{item.cachedImages.avatar}}" />
    </div>
    <div class="card-content">
      <h4 class="title">
        {{item.contents.name}}
        {{#if item.nsfw}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.nsfw"}}</span>
        {{/if}}
        {{#unless (isEqual item.state 'approved')}}
          <span class="ls-list-nsfw">{{i18n __ (concat "states." item.state)}}</span>
        {{/unless}}
      </h4>
      <span class="description">{{item.contents.description}}</span>
    </div>
  </section>
</a>
