<div class="ls-flex-row ls-left-pad center">
  {{#unless (isEqual page 0)}}
  <a class="btn white black-text" href="?page={{previous}}&limit={{limit}}{{#if query}}&q={{query}}{{/if}}">
    {{ i18n __ 'pagination.page.prev' }}
  </a>
  {{/unless}}
  <span class="btn asbestos-nodark ls-nocursor">
    {{ next }}
  </span>
  {{#if (isEqual list.length (add limit 1))}}
  <a class="btn white black-text" href="?page={{next}}&limit={{limit}}{{#if query}}&q={{query}}{{/if}}{{#if state}}&state={{state}}{{/if}}{{#if category}}&category={{category}}{{/if}}">
    {{ i18n __ 'pagination.page.next' }}
  </a>
  {{/if}}
</div>
