<div class="ls-review-box">
  <p>{{numberOfRatings}} reviews</p>
  <div class="ls-flex-row">
    <span class="ls-review-number">5</span>
    <div class="progress-container">
      <div class="progress-bar emerald-bar" style="width: {{ratings.5.sliderWidth}}%;"></div>
    </div>
  </div>
  <div class="ls-flex-row">
    <span class="ls-review-number">4</span>
    <div class="progress-container">
      <div class="progress-bar green-sea-bar" style="width: {{ratings.4.sliderWidth}}%;"></div>
    </div>
  </div>
  <div class="ls-flex-row">
    <span class="ls-review-number">3</span>
    <div class="progress-container">
      <div class="progress-bar sun-flower-bar" style="width: {{ratings.3.sliderWidth}}%;"></div>
    </div>
  </div>
  <div class="ls-flex-row">
    <span class="ls-review-number">2</span>
    <div class="progress-container">
      <div class="progress-bar carrot-bar" style="width: {{ratings.2.sliderWidth}}%;"></div>
    </div>
  </div>
  <div class="ls-flex-row">
    <span class="ls-review-number">1</span>
    <div class="progress-container">
      <div class="progress-bar alizarin-bar" style="width: {{ratings.1.sliderWidth}}%;"></div>
    </div>
  </div>
</div>
{{#each item.reviews}}
  {{#if (isEqual @index ../limit)}}

  {{else}}
    {{>reviewcard review=this user=../user item=../item}}
  {{/if}}
{{/each}}
