extends templates/site.pug

block title
	title #{__('website')} - #{botinfo.name}

block embed
	if botinfo.ownerinfo
		meta(name="author" content=`${botinfo.ownerinfo.username}#${botinfo.ownerinfo.discriminator}`)
	meta(name="og:description" content=botinfo.shortDesc)
	meta(name="og:title" content=botinfo.name)
	meta(name="og:site_name" content=__('website'))
	meta(name="og:image" content=(botinfo.avatar || '/img/terminal.png'))
	meta(name="og:type" content="website")

block main
	.store
		.horizontal
			.item
				img.bot-img(src=(botinfo.avatar || '/img/terminal.png') onerror="imageFail(this)" alt=__('list_avatar_fail'))
			.item.pad-left
				h1 #{botinfo.name}
				if botinfo.count
					span.pill #{__('list_count', { count: botinfo.count })}
				if botinfo.ownerinfo
					each owner in botinfo.ownerinfo
						if owner
							span.pill #{owner.username}##{owner.discriminator}
				if !botinfo.approved
					span.pill.red #{__('list_unverified')}
				p #{botinfo.shortDesc}
		if botinfo.editable >= 1
			.horizontal.wrap
				if botinfo.editable >= 3 && !botinfo.approved && csrf
					form.inline-block(action=`/bot/${botinfo.id}/approve` method="POST")
						button.button.hover(type="submit") #{__('list_approve')}
						input.hide(type="text" name="csrf" value=`${csrf}`)
				if botinfo.editable >= 3 && csrf
					a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/remove`) #{__('list_remove')}
				if botinfo.editable >= 3
					a.button.hover(target="_blank" href=`https://discordapp.com/oauth2/authorize?client_id=${botinfo.id}&scope=bot&permissions=0&guild_id=${guild_id}`) #{__('list_no_perms_invite')}
				if botinfo.editable >= 1
					a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/edit`) #{__('list_edit')}
				if botinfo.editable >= 2
					a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/delete`) #{__('list_delete')}
				if botinfo.editable >= 1
					a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/token`) #{__('list_token')}
		.horizontal.wrap
			a.button.hover.green.right.font-large(href=botinfo.invite) #{__('list_invite')}
		hr
		#longDesc.short
			!= render
		#showMore.center.horizontal.center
			i.material-icons keyboard_arrow_down
			span #{__('bot_view_more')}
		#showLess.center.horizontal.center.hide
			i.material-icons keyboard_arrow_up
			span #{__('bot_view_less')}
		hr
		.horizontal
			if botinfo.category
				.spread
					h3 #{__(`category_${botinfo.category}`)}
					img.categoryIcon(src=`/img/category/${botinfo.category}.svg`)
			.spread
				h3 Votes
				p.votes
					i#upvote.material-icons thumb_up
					i#downvote.material-icons thumb_down
				p#voteDesc #{botinfo.upvotes} - #{botinfo.downvotes}

block script
	script(src="/js/store.js")
	script(src="/js/vote.js")
