doctype html

//*
	ls.terminal.ink

	Copyright (C) 2018 Moustacheminer Server Services
	Copyright (C) 2018 ls.terminal.ink

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

html(lang=lang)
	head
		block title
			title #{title ? `${title} -` : ''} #{__('website')}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#FFFFFF")
		meta(property="og:type" content="website")
		link(rel="publisher" href=location)
		block embed
			meta(name="author" content=location)
			meta(property="og:description" content=__('website_description'))
			meta(name="og:image" content="/img/terminal512.png")
			meta(property="og:title" content=__('website'))
		link(href="/img/favicon.gif" rel="shortcut-icon")
		link(href="/img/favicon.gif" rel="icon")
		link(async href="https://fonts.googleapis.com/icon?family=Noto+Sans" rel="stylesheet")
		link(href="/css/default/index.css" rel="stylesheet")
		link(href="/manifest.json" rel="manifest")
	body
		header
			.item
				span #{__('website')}
			.item.right
				img(src="/img/terminal512.png" alt=__('alt_logo'))
		.horizontal
			aside
				a.horizontal.enlarge(data-ajax-url href="/")
					.icon.red
						img(src="/img/icon/white_home.svg" alt=__('nav_homepage'))
					.item.red-lighten
						span #{__('nav_homepage')}
				if user
					a.horizontal.enlarge(data-ajax-url href=`/list/${user.id}`)
						.icon.blue
							img(src=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.webp?size=64` onerror="this.src='/img/terminal256.png'" alt=user.username)
						.item.blue-lighten
							span #{user.username}
					a.horizontal.enlarge(data-ajax-url href="/bot/add")
						.icon.magenta
							img(src="/img/icon/white_add.svg" alt=__('nav_add'))
						.item.magenta-lighten
							span #{__('nav_add')}
				a.horizontal.enlarge(data-ajax-url href="/list/all")
					.icon.green
						img(src="/img/icon/white_all.svg" alt=__('nav_all'))
					.item.green-lighten
						span #{__('nav_all')}
				a.horizontal.enlarge(data-ajax-url href="/list/queue")
					.icon.orange
						img(src="/img/icon/white_queue.svg" alt=__('nav_queue'))
					.item.orange-lighten
						span #{__('nav_queue')}
				.hover
					a.horizontal(data-ajax-url href="/lang")
						.icon
							img(src="/img/icon/black_language.svg" alt=__('nav_lang'))
						.item
							span #{__('nav_lang')}
				.hover
					a.horizontal(data-ajax-url href="/theme")
						.icon
							img(src="/img/icon/black_theme.svg" alt=__('nav_theme'))
						.item
							span #{__('nav_theme')}
				.hover
					a.horizontal(data-ajax-url href="/docs")
						.icon
							img(src="/img/icon/black_library_books.svg" alt=__('nav_documentation'))
						.item
							span #{__('nav_documentation')}
				.hover
					if user
						a.horizontal(data-ajax-url href="/auth/logout")
							.icon
								img(src="/img/icon/black_exit.svg" alt=__('nav_logout'))
							.item
								span #{__('nav_logout')} 
					else
						a.horizontal(data-ajax-url href="/auth")
							.icon
								img(src="/img/icon/black_login.svg" alt=__('nav_login'))
							.item
								span #{__('nav_login')}
			main
				block main
		footer
			.item
				span #{__('footer_copyright')}
			.item
				span #{__('footer_licence')}
		block script
		//	script(src="/js/ajax.js")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-67900801-5")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-67900801-5');
