doctype html

//*
	ls.terminal.ink

	Copyright (C) 2018 Moustacheminer Server Services
	Copyright (C) 2018 ls.terminal.ink

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <http://www.gnu.org/licenses/>.

html
	head
		block title
			title #{title ? `${title} -` : ''} #{__('website')}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		meta(name="theme-color" content="#FFFFFF")
		meta(property="og:type" content="website")
		link(rel="publisher" href=location)
		block embed
			meta(name="author" content=location)
			meta(property="og:description" content=__('website_description'))
			meta(name="og:image" content="/img/terminal.png")
			meta(property="og:title" content=__('website'))
		link(href="/img/favicon.gif" rel="shortcut-icon")
		link(href="/img/favicon.gif" rel="icon")
		link(href="/css/default/index.css" rel="stylesheet")
		link(async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		header
			.item
				span ls.terminal.ink
			.item.right
				img(src="/img/terminal.png")
		.horizontal
			aside
				a.horizontal.enlarge(href="/")
					.icon.red
						img(src="/img/icon/white_home.svg")
					.item.red-lighten
						span Homepage
				if user
					a.horizontal.enlarge(href=`/list/${user.id}`)
						.icon.blue
							img(src=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.webp?size=128`)
						.item.blue-lighten
							span #{user.username}
				.horizontal.hover
					a.horizontal.enlarge(href="/lang")
						.icon
							img(src="/img/icon/black_language.svg")
						.item
							span #{__('nav_lang')}
				.horizontal.hover
					a.horizontal.enlarge(href="/theme")
						.icon
							img(src="/img/icon/black_theme.svg")
						.item
							span #{__('nav_theme')}
				.horizontal.hover
					a.horizontal.enlarge(href="/docs")
						.icon
							img(src="/img/icon/black_library_books.svg")
						.item
							span #{__('nav_documentation')}
				.horizontal.hover
					if user
						a.horizontal.enlarge(href="/auth/logout")
							.icon
								img(src="/img/icon/black_exit.svg")
							.item
								span #{__('nav_logout')} 
					else
						a.horizontal.enlarge(href="/auth")
							.icon
								img(src="/img/icon/black_login.svg")
							.item
								span #{__('nav_login')}
			main
				block main
		footer
			.item
				span #{__('footer_copyright')}
			.item
				span #{__('footer_licence')}
		block script
		if !production
			script(src="/reload/reload.js")