extends templates/site.pug

block title
	title #{__('list_title')} - #{__('website')}

block content
	if bots.length
		table
			each botinfo in bots
				tr
					td
						table
							tr
								td
									img.avatar(src=(botinfo.avatar || '/img/terminal.png') alt=__('list_avatar_fail'))
									p #{botinfo.name}
								td
									if botinfo.count
										span #{__('list_count', { count: botinfo.count })}
									if !botinfo.approved
										p #{__('list_unverified')}
									if botinfo.ownerinfo
										each owner in botinfo.ownerinfo
											if owner
												p #{owner.username}##{owner.discriminator}
							tr
								td(colspan="2")
									span #{botinfo.shortDesc}
							tr
								td(colspan="2")
									if botinfo.editable >= 3 && !botinfo.approved && csrf
										form(action=`/bot/${botinfo.id}/approve` method="POST")
											button(type="submit") #{__('list_approve')}
											input.hide(type="text" name="csrf" value=`${csrf}`)
									if botinfo.editable >= 3 && csrf
										a(href=`/bot/${botinfo.id}/remove`) #{__('list_remove')}
									if botinfo.editable >= 3
										a(target="_blank" href=`https://discordapp.com/oauth2/authorize?client_id=${botinfo.id}&scope=bot&permissions=0`) #{__('list_no_perms_invite')}
									if botinfo.editable >= 1
										a(href=`/bot/${botinfo.id}/edit`) #{__('list_edit')}
									if botinfo.editable >= 2
										a(href=`/bot/${botinfo.id}/delete`) #{__('list_delete')}
									if botinfo.editable >= 1
										a(href=`/bot/${botinfo.id}/token`) #{__('list_token')}
									a(href=`/bot/${botinfo.id}`) #{__('list_info')}
									a(href=botinfo.invite) #{__('list_invite')}
	else
		p #{__('list_no_results')}

