extends templates/site.pug

block title
	title #{__('list_remove')} - #{__('website')}

block content
	h1 #{__('remove_jumbotron')}
	form(method="POST")
		select#type(name="reason" required)
			option(selected disabled required value="") #{__('remove_select')}
			for reason, index in reasons
				option(value=index) #{__(`remove_${reason}`)}
		label(for="description") #{__('remove_description')}
		textarea(name="description" maxlength="1000" rows="6" required)
		button(type="submit") #{__('proceed')}
		a(href="/") #{__('cancel')}
		input.hide(type="text" name="csrf" value=csrf)

