extends templates/site.pug

block title
	title #{__('theme_title')} - #{__('website')}

block content
	h1 #{__('theme_themes')}
	for theme in themes
		li: a(href=`/lang/${theme}`) #{__(`theme_${theme}`)}
