extends templates/site.pug

block title
	title #{__('token_title')} - #{__('website')}

block content
	h1 #{__('token_jumbotron', { name: bot.name })}
	p #{__('token_description')}
	if bot.token
		p: code(style="word-break: break-all") #{bot.token}
	else
		p #{__('token_missing')}
	form.buddon(method="POST" href=`/bot/${bot.id}/token`)
		button.btn.btn-danger(type="submit") #{__('token_generate')}
		input.hide(type="text" name="csrf" value=`${csrf}`)
		input.hide(type="text" name="approve" value="true")
