
<div class="form-container">
  <form method="POST" action="/bots/add" id="edit-form">
    <h1>{{ i18n __ "pages.edit.title"}}</h1>
    <p>{{ i18n __ "pages.edit.required"}}</p>
    <h2>{{ i18n __ "pages.edit.basicinfo"}}</h2>
    <div class="row">
      <div class="one-half column">
        <label for="bot.id">{{ i18n __ "pages.edit.client_id.title"}}{{> required }}</label>
        <div class="ls-flex-row">
          <input id="id" name="bot.id" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.client_id.placeholder"}}" value="{{item.id}}">
          <button type="button" id="id-modal-button" onclick="openModal(this)" class="ls-button">{{ i18n __ "forms.help"}}</button>
        </div>
      </div>
      <div class="one-half column">
        <label for="bot.oauth">{{ i18n __ "pages.edit.application_id.title"}}</label>
        <div class="ls-flex-row">
          <input id="oauth" name="bot.oauth" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.application_id.placeholder"}}" value="{{item.oauth}}">
          <button type="button" id="oauth-modal-button" onclick="openModal(this)" class="ls-button">{{ i18n __ "forms.help"}}</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <label for="bot.invite">{{ i18n __ "pages.edit.bot_invite.title"}}{{> required }}</label>
        <div class="ls-flex-row">
          <input id="invite" name="bot.invite" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.bot_invite.title"}}" value="{{item.invite}}">
          <button type="button" id="invite-modal-button" onclick="openModal(this)" class="ls-button">{{ i18n __ "pages.edit.bot_invite.generate"}}</button>
        </div>
      </div>
      <div class="one-half column">
        {{> listinput name="bot.authors[]" label="pages.edit.authors.title" placeholder="pages.edit.authors.placeholder" modal="authors" value=item.authors default=user.id required=true}}
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <label for="bot.support">{{ i18n __ "pages.edit.bot_support.title"}}</label>
        <input name="bot.support" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.bot_support.placeholder"}}" value="{{item.support}}">
      </div>
      <div class="one-half column">
        <label for="bot.nsfw">{{ i18n __ "pages.edit.bot_nsfw.title"}}</label>
        <input name="bot.nsfw" type="checkbox" {{#if item.nsfw}}checked="on"{{/if}}>
      </div>
    </div>
    <h2>Images</h2>
    <div class="row">
      <div class="one-half column">
        <label for="bot.images.avatar">{{ i18n __ "pages.edit.images.avatar.title"}}</label>
        <input name="bot.images.avatar" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.images.avatar.placeholder"}}" value="{{item.images.avatar}}">
      </div>
      <div class="one-half column">
        <label for="bot.images.cover">{{ i18n __ "pages.edit.images.cover.title"}}</label>
        <input name="bot.images.cover" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.images.cover.placeholder"}}" value="{{item.images.cover}}">
      </div>
    </div>
    {{> listinput name="bot.images.preview[]" label="pages.edit.images.preview.title" placeholder="pages.edit.images.preview.placeholder" value=item.images.preview}}
    <h2>{{ i18n __ "pages.edit.triggermethods"}}</h2>
    {{> listinput name="bot.trigger.prefix[]" label="pages.edit.bot_prefix.title" placeholder="pages.edit.bot_prefix.placeholder" value=item.trigger.prefix required=true}}
    <div class="row">
      <div class="one-half column">
        <label for="bot.trigger.customisable">{{ i18n __ "pages.edit.customisable.title"}}</label>
        <input name="bot.trigger.customisable" type="checkbox" {{#if item.trigger.customisable}}checked="on"{{/if}}>
      </div>
      <div class="one-half column">
        <label for="bot.trigger.mentionable">{{ i18n __ "pages.edit.mentionable.title"}}</label>
        <input name="bot.trigger.mentionable" type="checkbox" {{#if item.trigger.mentionable}}checked="on"{{/if}}>
      </div>
    </div>
    <h2>Flags</h2>
    <div class="row">
      <div class="one-half column">
        <label for="bot.flags.inAppPurchases">{{ i18n __ "pages.edit.flags.inAppPurchases.title"}}</label>
        <input name="bot.flags.inAppPurchases" type="checkbox" {{#if item.flags.inAppPurchases}}checked="on"{{/if}}>
        <small>{{ i18n __ "pages.edit.flags.inAppPurchases.small"}}</small>
      </div>
      <div class="one-half column">
        <label for="bot.flags.adverts">{{ i18n __ "pages.edit.flags.adverts.title"}}</label>
        <input name="bot.flags.adverts" type="checkbox" {{#if item.flags.adverts}}checked="on"{{/if}}>
        <small>{{ i18n __ "pages.edit.flags.adverts.small"}}</small>
      </div>
    </div>
    <h2>{{ i18n __ "pages.edit.sourcecode"}}</h2>
    <div class="row">
      <div class="one-half column">
        <label for="bot.github.owner">{{ i18n __ "pages.edit.github_owner.title"}}</label>
        <input name="bot.github.owner" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.github_owner.placeholder"}}" value="{{item.github.owner}}">
      </div>
      <div class="one-half column">
        <label for="bot.github.repo">{{ i18n __ "pages.edit.github_repo.title"}}</label>
        <input name="bot.github.repo" type="text" class="full-width" placeholder="{{ i18n __ "pages.edit.github_repo.placeholder"}}" value="{{item.github.repo}}">
      </div>
    </div>
    <h2>{{ i18n __ "pages.edit.information"}}</h2>
    <div class="row">
      <div class="column">
        <label>{{ i18n __ "pages.edit.languages.title"}}</label>
        <div class="ls-flex-row">
          <select form="null" id="language" class="full-width">
            {{#each selectableLanguages}}
              <option value={{this}}>{{i18n ../__ (concat "locales." this)}}</option>
            {{/each}}
          </select>
          <button type="button" id="add-language-button" onclick="addLanguage(this)" class="ls-button">{{ i18n __ "pages.edit.languages.add"}}</button>
          <button type="button" id="language-modal-button" onclick="openModal(this)" class="ls-button">{{ i18n __ "forms.help"}}</button>
        </div>
      </div>
    </div>
    <div id="languages-box" data-delete="{{i18n __ "pages.edit.deleteLanguage"}}" data-name="{{i18n __ "pages.edit.name.title"}}" data-description="{{i18n __ "pages.edit.description.title"}}" data-page="{{i18n __ "pages.edit.page.title"}}">
      {{#each item.contents}}
        <div class="box-container github" data-title="{{i18n ../__ (concat "locales." @key)}}" id="{{@key}}">
          <div class="ls-flex-row">
            <h3>{{i18n ../__ (concat "locales." @key)}}</h3>
            <button type="button" onclick="deleteLanguage('{{@key}}')" class="ls-button">
              {{i18n ../__ "pages.edit.deleteLanguage"}}
            </button>
          </div>
          <label for="bot.contents.{{@key}}.name">{{i18n ../__ "pages.edit.name.title"}}</label>
          <input name="bot.contents.{{@key}}.name" type="text" class="full-width" value="{{this.name}}">
          <label for="bot.contents.{{@key}}.description">{{i18n ../__ "pages.edit.description.title"}}</label>
          <input name="bot.contents.{{@key}}.description" type="text" class="full-width" value="{{this.description}}">
          <label for="bot.contents.{{@key}}.page">{{i18n ../__ "pages.edit.page.title"}}</label>
          <textarea name="bot.contents.{{@key}}.page" id="bot.contents.{{@key}}.page" class="full-width ls-edit-page">{{this.page}}</textarea>
          <div class="ls-edit-monaco"></div>
        </div>
      {{/each}}
    </div>
    <button>{{ i18n __ "forms.submit"}}</button>
    <div class="box-container alizarin message hidden" id="form-message">
      <p>Unexpectedly encountered un-encounterable unexpected message.</p>
    </div>
  </form>
</div>

<!--
  Modals
-->
<div id="id-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>{{ i18n __ "pages.edit.client_id.title"}}</h1>
    <p>{{ i18n __ "pages.edit.client_id.modal1"}}</p>
    <img data-src="/img/add/id1.png">
    <p>{{ i18n __ "pages.edit.client_id.modal2"}}</p>
    <img data-src="/img/add/id2.png">
    <img data-src="/img/add/id3.png">
  </div>
</div>

<div id="oauth-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>{{ i18n __ "pages.edit.application_id.title"}}</h1>
    <p>{{ i18n __ "pages.edit.application_id.modal"}}</p>
    <img data-src="/img/add/oauth1.png">
  </div>
</div>

<div id="invite-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>{{ i18n __ "pages.edit.invite.title"}}</h1>
    <p>{{ i18n __ "pages.edit.invite.modal"}}</p>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="CREATE_INSTANT_INVITE">{{i18n __ "permission.CREATE_INSTANT_INVITE"}}</label>
      <input id="CREATE_INSTANT_INVITE" type="checkbox" name="CREATE_INSTANT_INVITE"/></div>
      <div class="one-third column"><label class="inline left" for="KICK_MEMBERS">{{i18n __ "permission.KICK_MEMBERS"}}</label>
      <input id="KICK_MEMBERS" type="checkbox" name="KICK_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="BAN_MEMBERS">{{i18n __ "permission.BAN_MEMBERS"}}</label>
      <input id="BAN_MEMBERS" type="checkbox" name="BAN_MEMBERS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="ADMINISTRATOR">{{i18n __ "permission.ADMINISTRATOR"}}</label>
      <input id="ADMINISTRATOR" type="checkbox" name="ADMINISTRATOR"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_CHANNELS">{{i18n __ "permission.MANAGE_CHANNELS"}}</label>
      <input id="MANAGE_CHANNELS" type="checkbox" name="MANAGE_CHANNELS"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_GUILD">{{i18n __ "permission.MANAGE_GUILD"}}</label>
      <input id="MANAGE_GUILD" type="checkbox" name="MANAGE_GUILD"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="ADD_REACTIONS">{{i18n __ "permission.ADD_REACTIONS"}}</label>
      <input id="ADD_REACTIONS" type="checkbox" name="ADD_REACTIONS"/></div>
      <div class="one-third column"><label class="inline left" for="VIEW_AUDIT_LOG">{{i18n __ "permission.VIEW_AUDIT_LOG"}}</label>
      <input id="VIEW_AUDIT_LOG" type="checkbox" name="VIEW_AUDIT_LOG"/></div>
      <div class="one-third column"><label class="inline left" for="READ_MESSAGES">{{i18n __ "permission.READ_MESSAGES"}}</label>
      <input id="READ_MESSAGES" type="checkbox" name="READ_MESSAGES"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="SEND_MESSAGES">{{i18n __ "permission.SEND_MESSAGES"}}</label>
      <input id="SEND_MESSAGES" type="checkbox" name="SEND_MESSAGES"/></div>
      <div class="one-third column"><label class="inline left" for="SEND_TTS_MESSAGES">{{i18n __ "permission.SEND_TTS_MESSAGES"}}</label>
      <input id="SEND_TTS_MESSAGES" type="checkbox" name="SEND_TTS_MESSAGES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_MESSAGES">{{i18n __ "permission.MANAGE_MESSAGES"}}</label>
      <input id="MANAGE_MESSAGES" type="checkbox" name="MANAGE_MESSAGES"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="EMBED_LINKS">{{i18n __ "permission.EMBED_LINKS"}}</label>
      <input id="EMBED_LINKS" type="checkbox" name="EMBED_LINKS"/></div>
      <div class="one-third column"><label class="inline left" for="ATTACH_FILES">{{i18n __ "permission.ATTACH_FILES"}}</label>
      <input id="ATTACH_FILES" type="checkbox" name="ATTACH_FILES"/></div>
      <div class="one-third column"><label class="inline left" for="READ_MESSAGE_HISTORY">{{i18n __ "permission.READ_MESSAGE_HISTORY"}}</label>
      <input id="READ_MESSAGE_HISTORY" type="checkbox" name="READ_MESSAGE_HISTORY"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MENTION_EVERYONE">{{i18n __ "permission.MENTION_EVERYONE"}}</label>
      <input id="MENTION_EVERYONE" type="checkbox" name="MENTION_EVERYONE"/></div>
      <div class="one-third column"><label class="inline left" for="USE_EXTERNAL_EMOJIS">{{i18n __ "permission.USE_EXTERNAL_EMOJIS"}}</label>
      <input id="USE_EXTERNAL_EMOJIS" type="checkbox" name="USE_EXTERNAL_EMOJIS"/></div>
      <div class="one-third column"><label class="inline left" for="CONNECT">{{i18n __ "permission.CONNECT"}}</label>
      <input id="CONNECT" type="checkbox" name="CONNECT"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="SPEAK">{{i18n __ "permission.SPEAK"}}</label>
      <input id="SPEAK" type="checkbox" name="SPEAK"/></div>
      <div class="one-third column"><label class="inline left" for="MUTE_MEMBERS">{{i18n __ "permission.MUTE_MEMBERS"}}</label>
      <input id="MUTE_MEMBERS" type="checkbox" name="MUTE_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="DEAFEN_MEMBERS">{{i18n __ "permission.DEAFEN_MEMBERS"}}</label>
      <input id="DEAFEN_MEMBERS" type="checkbox" name="DEAFEN_MEMBERS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MOVE_MEMBERS">{{i18n __ "permission.MOVE_MEMBERS"}}</label>
      <input id="MOVE_MEMBERS" type="checkbox" name="MOVE_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="USE_VAD">{{i18n __ "permission.USE_VAD"}}</label>
      <input id="USE_VAD" type="checkbox" name="USE_VAD"/></div>
      <div class="one-third column"><label class="inline left" for="CHANGE_NICKNAME">{{i18n __ "permission.CHANGE_NICKNAME"}}</label>
      <input id="CHANGE_NICKNAME" type="checkbox" name="CHANGE_NICKNAME"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MANAGE_NICKNAMES">{{i18n __ "permission.MANAGE_NICKNAMES"}}</label>
      <input id="MANAGE_NICKNAMES" type="checkbox" name="MANAGE_NICKNAMES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_ROLES">{{i18n __ "permission.MANAGE_ROLES"}}</label>
      <input id="MANAGE_ROLES" type="checkbox" name="MANAGE_ROLES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_WEBHOOKS">{{i18n __ "permission.MANAGE_WEBHOOKS"}}</label>
      <input id="MANAGE_WEBHOOKS" type="checkbox" name="MANAGE_WEBHOOKS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MANAGE_EMOJIS">{{i18n __ "permission.MANAGE_EMOJIS"}}</label>
      <input id="MANAGE_EMOJIS" type="checkbox" name="MANAGE_EMOJIS"/></div>
    </div>
    <a class="btn white black-text ls-exit-modal">{{i18n __ "forms.close"}}</a>
    <a class="btn white black-text ls-exit-modal" onclick="generatePermissions()">{{i18n __ "forms.apply"}}</a>
  </div>
</div>

<div id="authors-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>{{ i18n __ "pages.edit.authors.title"}}</h1>
    <p>{{ i18n __ "pages.edit.authors.modal"}}</p>
  </div>
</div>

<div id="language-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>{{ i18n __ "pages.edit.languages.title"}}</h1>
    <p>{{ i18n __ "pages.edit.languages.modal"}}</p>
  </div>
</div>

<script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="/js/modalPerms.js"></script>
<script src="/js/form.js"></script>
