
<div class="form-container">
  <form method="POST" id="edit-form">
    <p>By completing this form, you agree that Terminal.ink can hold your data</p>
    <h2>Basic Information</h2>
    <div class="row">
      <div class="one-half column">
        <label for="bot.id">Bot ID</label>
        <div class="ls-flex-row">
          <input id="id" name="bot.id" type="text" class="full-width">
          <button type="button" id="id-modal-button" onclick="openModal(this)" class="ls-button">?</button>
        </div>
      </div>
      <div class="one-half column">
        <label for="bot.oauth">OAuth ID</label>
        <div class="ls-flex-row">
          <input id="oauth" name="bot.oauth" type="text" class="full-width">
          <button type="button" id="oauth-modal-button" onclick="openModal(this)" class="ls-button">?</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="one-half column">
        <label for="bot.invite">Invite URL</label>
        <div class="ls-flex-row">
          <input id="invite" name="bot.invite" type="text" class="full-width">
          <button type="button" id="invite-modal-button" onclick="openModal(this)" class="ls-button">Create a Link</button>
        </div>
      </div>
      <div class="one-half column">
        {{> listinput name="bot.authors[]" label="pages.edit.authors.label" modal="authors"}}
      </div>
    </div>
    <h2>Trigger Methods</h2>
    <div class="row">
      <div class="one-half column">
        {{> listinput name="bot.trigger.prefix[]" label="pages.edit.prefix.label"}}
      </div>
      <div class="one-half column">
        <label for="bot.trigger.customisable">Customisable Prefix</label>
        <input name="bot.trigger.customisable" type="checkbox">
      </div>
    </div>
    <h2>Source Code</h2>
    <p>This will allow your audience to check out your code.</p>
    <div class="row">
      <div class="one-half column">
        <label for="bot.github.owner">GitHub Owner</label>
        <input name="bot.github.owner" type="text" class="full-width">
      </div>
      <div class="one-half column">
        <label for="bot.github.repo">Github Repository</label>
        <input name="bot.github.repo" type="text" class="full-width">
      </div>
    </div>
    <h2>Information</h2>
    <div class="row">
      <div class="column">
        <label>Supported Languages</label>
        <div class="ls-flex-row">
          <select form="null" id="language" class="full-width">
            {{#each siteLocales}}
              <option value={{this}}>{{i18n (concat "locales." this)}}</option>
            {{/each}}
          </select>
          <button type="button" id="add-language-button" onclick="addLanguage(this)" class="ls-button">Add this language</button>
          <button type="button" id="language-modal-button" onclick="openModal(this)" class="ls-button">?</button>
        </div>
      </div>
    </div>
    <div id="languages-box" data-delete="{{i18n "pages.edit.deleteLanguage"}}" data-name="{{i18n "pages.edit.name.label"}}" data-description="{{i18n "pages.edit.description.label"}}" data-page="{{i18n "pages.edit.page.label"}}"></div>
    <h3>Support</h3>
    <button>Submit!</button>
    <div class="box-container alizarin message hidden" id="form-message">
      <p>You should not be able to see this.</p>
    </div>
  </form>
</div>

<!--
  Modals
-->
<div id="id-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>Bot ID</h1>
    <p>The bot ID is a number which uniquely identifies the bot user. You can retrieve it by clicking the "Copy" button within the Discord Developer portal.</p>
    <img data-src="/img/add/id1.png">
    <p>You can also find the ID by enabling "Developer Mode" in the Discord settings, and then right clicking your bot and pressing "Copy ID". Be sure not to copy the ID of the message.</p>
    <img data-src="/img/add/id2.png">
    <img data-src="/img/add/id3.png">
  </div>
</div>

<div id="oauth-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>OAuth ID</h1>
    <p>The OAuth ID is the ID which is used when users invite your bot via the OAuth workflow. In almost all cases, this ID is the same as your Bot ID. You will only need to take action if your bot has a difference between the two.</p>
    <img data-src="/img/add/oauth1.png">
  </div>
</div>

<div id="avatar-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>Avatar</h1>
    <p>Upload an avatar. Most image formats are accepted.</p>
  </div>
</div>

<div id="invite-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>Invite URL Generator</h1>
    <p>Please make sure "Bot ID" has been filled in with your Discord bot's ID</p>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="CREATE_INSTANT_INVITE">{{{i18n "permission.CREATE_INSTANT_INVITE"}}}</label>
      <input id="CREATE_INSTANT_INVITE" type="checkbox" name="CREATE_INSTANT_INVITE"/></div>
      <div class="one-third column"><label class="inline left" for="KICK_MEMBERS">{{{i18n "permission.KICK_MEMBERS"}}}</label>
      <input id="KICK_MEMBERS" type="checkbox" name="KICK_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="BAN_MEMBERS">{{{i18n "permission.BAN_MEMBERS"}}}</label>
      <input id="BAN_MEMBERS" type="checkbox" name="BAN_MEMBERS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="ADMINISTRATOR">{{{i18n "permission.ADMINISTRATOR"}}}</label>
      <input id="ADMINISTRATOR" type="checkbox" name="ADMINISTRATOR"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_CHANNELS">{{{i18n "permission.MANAGE_CHANNELS"}}}</label>
      <input id="MANAGE_CHANNELS" type="checkbox" name="MANAGE_CHANNELS"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_GUILD">{{{i18n "permission.MANAGE_GUILD"}}}</label>
      <input id="MANAGE_GUILD" type="checkbox" name="MANAGE_GUILD"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="ADD_REACTIONS">{{{i18n "permission.ADD_REACTIONS"}}}</label>
      <input id="ADD_REACTIONS" type="checkbox" name="ADD_REACTIONS"/></div>
      <div class="one-third column"><label class="inline left" for="VIEW_AUDIT_LOG">{{{i18n "permission.VIEW_AUDIT_LOG"}}}</label>
      <input id="VIEW_AUDIT_LOG" type="checkbox" name="VIEW_AUDIT_LOG"/></div>
      <div class="one-third column"><label class="inline left" for="READ_MESSAGES">{{{i18n "permission.READ_MESSAGES"}}}</label>
      <input id="READ_MESSAGES" type="checkbox" name="READ_MESSAGES"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="SEND_MESSAGES">{{{i18n "permission.SEND_MESSAGES"}}}</label>
      <input id="SEND_MESSAGES" type="checkbox" name="SEND_MESSAGES"/></div>
      <div class="one-third column"><label class="inline left" for="SEND_TTS_MESSAGES">{{{i18n "permission.SEND_TTS_MESSAGES"}}}</label>
      <input id="SEND_TTS_MESSAGES" type="checkbox" name="SEND_TTS_MESSAGES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_MESSAGES">{{{i18n "permission.MANAGE_MESSAGES"}}}</label>
      <input id="MANAGE_MESSAGES" type="checkbox" name="MANAGE_MESSAGES"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="EMBED_LINKS">{{{i18n "permission.EMBED_LINKS"}}}</label>
      <input id="EMBED_LINKS" type="checkbox" name="EMBED_LINKS"/></div>
      <div class="one-third column"><label class="inline left" for="ATTACH_FILES">{{{i18n "permission.ATTACH_FILES"}}}</label>
      <input id="ATTACH_FILES" type="checkbox" name="ATTACH_FILES"/></div>
      <div class="one-third column"><label class="inline left" for="READ_MESSAGE_HISTORY">{{{i18n "permission.READ_MESSAGE_HISTORY"}}}</label>
      <input id="READ_MESSAGE_HISTORY" type="checkbox" name="READ_MESSAGE_HISTORY"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MENTION_EVERYONE">{{{i18n "permission.MENTION_EVERYONE"}}}</label>
      <input id="MENTION_EVERYONE" type="checkbox" name="MENTION_EVERYONE"/></div>
      <div class="one-third column"><label class="inline left" for="USE_EXTERNAL_EMOJIS">{{{i18n "permission.USE_EXTERNAL_EMOJIS"}}}</label>
      <input id="USE_EXTERNAL_EMOJIS" type="checkbox" name="USE_EXTERNAL_EMOJIS"/></div>
      <div class="one-third column"><label class="inline left" for="CONNECT">{{{i18n "permission.CONNECT"}}}</label>
      <input id="CONNECT" type="checkbox" name="CONNECT"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="SPEAK">{{{i18n "permission.SPEAK"}}}</label>
      <input id="SPEAK" type="checkbox" name="SPEAK"/></div>
      <div class="one-third column"><label class="inline left" for="MUTE_MEMBERS">{{{i18n "permission.MUTE_MEMBERS"}}}</label>
      <input id="MUTE_MEMBERS" type="checkbox" name="MUTE_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="DEAFEN_MEMBERS">{{{i18n "permission.DEAFEN_MEMBERS"}}}</label>
      <input id="DEAFEN_MEMBERS" type="checkbox" name="DEAFEN_MEMBERS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MOVE_MEMBERS">{{{i18n "permission.MOVE_MEMBERS"}}}</label>
      <input id="MOVE_MEMBERS" type="checkbox" name="MOVE_MEMBERS"/></div>
      <div class="one-third column"><label class="inline left" for="USE_VAD">{{{i18n "permission.USE_VAD"}}}</label>
      <input id="USE_VAD" type="checkbox" name="USE_VAD"/></div>
      <div class="one-third column"><label class="inline left" for="CHANGE_NICKNAME">{{{i18n "permission.CHANGE_NICKNAME"}}}</label>
      <input id="CHANGE_NICKNAME" type="checkbox" name="CHANGE_NICKNAME"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MANAGE_NICKNAMES">{{{i18n "permission.MANAGE_NICKNAMES"}}}</label>
      <input id="MANAGE_NICKNAMES" type="checkbox" name="MANAGE_NICKNAMES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_ROLES">{{{i18n "permission.MANAGE_ROLES"}}}</label>
      <input id="MANAGE_ROLES" type="checkbox" name="MANAGE_ROLES"/></div>
      <div class="one-third column"><label class="inline left" for="MANAGE_WEBHOOKS">{{{i18n "permission.MANAGE_WEBHOOKS"}}}</label>
      <input id="MANAGE_WEBHOOKS" type="checkbox" name="MANAGE_WEBHOOKS"/></div>
    </div>
    <div class="row">
      <div class="one-third column"><label class="inline left" for="MANAGE_EMOJIS">{{{i18n "permission.MANAGE_EMOJIS"}}}</label>
      <input id="MANAGE_EMOJIS" type="checkbox" name="MANAGE_EMOJIS"/></div>
    </div>
    <a class="btn white black-text ls-exit-modal">Close</a>
    <a class="btn white black-text ls-exit-modal" onclick="generatePermissions()">Apply</a>
  </div>
</div>

<div id="authors-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>Authors</h1>
    <p>Enter IDs of users who developed this bot, separated by commas.</p>
  </div>
</div>

<div id="language-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close ls-exit-modal">×</span>
    <h1>Languages</h1>
    <p>You can add different descriptions for different languages supported by this website, to better target your audience. To add a language, select your language and click "Add this language". You can then fill out the details for that language.</p>
  </div>
</div>

<script src="/js/serialize-0.2.min.js"></script>
<script src="/node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="/js/modalPerms.js"></script>
<script src="/js/form.js"></script>
