<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ 'pages.admin.title' }}</h2>
  <div class="ls-flex-row">
    <a class="btn white black-text" href="{{languagePrefix}}/bots/search?state=queue">{{ i18n __ 'pages.admin.queue' }}</a>
    <a class="btn white black-text" href="{{languagePrefix}}/bots/search?state=denied">{{ i18n __ 'pages.admin.denied' }}</a>
    <a class="btn white black-text" href="{{languagePrefix}}/bots/search?state=banned">{{ i18n __ 'pages.admin.banned' }}</a>
  </div>
</div>
