<div class="ls-main-content container box-shadow ls-round">
  <section class="ls-bot-profile ls-flex-row wrap">
    <img class="avatar" alt="{{item.contents.name}}" src="{{item.cachedImages.avatar}}">
    <div class="ls-bot-profile-content-left">
      <h1 class="name">
        {{item.contents.name}}
        {{#if item.nsfw}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.nsfw"}}</span>
        {{/if}}
        {{#unless item.verified}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.unverified"}}</span>
        {{/unless}}
      </h1>
      <p>
        {{#if item.trigger.prefix.length}}
          {{i18ns __n "pages.bots.prefix" item.trigger.prefix.length}}
        {{/if}}
        {{#each item.trigger.prefix}}
          <code class="ls-bot-prefix label asbestos">{{this}}</code>
        {{/each}}
        {{#if item.trigger.mentionable}}
          <code class="ls-bot-prefix label midnight-blue">{{i18n __ "pages.bots.mentionable"}}</code>
        {{/if}}
        {{#if item.trigger.customisable}}
          <code class="ls-bot-prefix label midnight-blue">{{i18n __ "pages.bots.customisable"}}</code>
        {{/if}}
      </p>
      {{> botlinks item=item canEdit=canEdit }}
      <div class="ls-left-pad">
        {{#if item.flags.inAppPurchases}}
          <span>{{i18n __ "pages.bots.inAppPurchases"}}</span>
        {{/if}}
        {{#if item.flags.adverts}}
          <span>{{i18n __ "pages.bots.adverts"}}</span>
        {{/if}}
      </div>
    </div>
    <div class="ls-bot-profile-content-right">
      {{#if item.invite}}
        <a class="btn discord" href="{{item.invite}}">
          {{i18n __ "pages.bots.invite"}}
        </a>
      {{/if}}
    </div>
  </section>
  {{#if item.pageDisplayedLanguage}}<p><i>{{i18n __ "errors.bots.no_suitable_lang" "language" (i18n __ (concat "locales." item.pageDisplayedLanguage))}}</i></p>{{/if}}
  <div id="ls-short-description" class="ls-custom-content ls-script">
    {{item.contents.description}}
  </div>
  <div id="ls-custom-content" class="ls-custom-content ls-noscript hidden">
    {{{contents}}}
  </div>
  <div id="ls-more" class="ls-custom-content-button box-shadow ls-round ls-script">
    <p>{{i18n __ "pages.bots.more"}}</p>
    <img src="/ModestaCSS/css/images/arrow.png">
  </div>
  <div id="ls-less" class="ls-custom-content-button ls-custom-content-less box-shadow ls-round hidden">
    <p>{{i18n __ "pages.bots.less"}}</p>
    <img src="/ModestaCSS/css/images/arrow.png">
  </div>
</div>

{{#if item.cachedImages.preview.length}}
<div class="ls-main-content container box-shadow ls-center ls-round">
  <div id="ls-carousel" class="ls-image-slider">
    {{#each item.cachedImages.preview}}
      <img src="{{this}}">
    {{/each}}
  </div>
</div>

<script src="/node_modules/tiny-slider/dist/tiny-slider.js"></script>
<script>
  {
    const slider = document.getElementById('ls-carousel');
    if (slider) {
      tns({
        container: '#ls-carousel',
        controlsPosition: 'bottom',
        navPosition: 'bottom',
        controlsText: [
          `{{i18n __ "pagination.image.prev"}}`,
          `{{i18n __ "pagination.image.next"}}`
        ]
      });
    }
  }
</script>
{{/if}}

<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ "pages.reviews.title" }}</h2>
  {{#if user.id}}
    {{#unless isOwner}}
      {{#if userReview}}
        <div class="secondary ls-main-content container box-shadow ls-round">
          <h4>{{ i18n __ "pages.reviews.my" }}</h4>
          {{>reviewcard review=userReview user=user item=item}}
        </div>
      {{else}}
        <div class="secondary ls-main-content container box-shadow ls-round ls-script ls-write-a-review">
          <form method="POST" action="/bots/{{item.id}}/reviews" id="review-form">
            <h4>{{ i18n __ "pages.reviews.write" }}</h4>
            <div class="ls-flex-row ls-reviewer-stars-form">
              <input type="radio" name="review.rating" id="rating-5" value="5" /><label for="rating-5">★</label>
              <input type="radio" name="review.rating" id="rating-4" value="4" /><label for="rating-4">★</label>
              <input type="radio" name="review.rating" id="rating-3" value="3" /><label for="rating-3">★</label>
              <input type="radio" name="review.rating" id="rating-2" value="2" /><label for="rating-2">★</label>
              <input type="radio" name="review.rating" id="rating-1" value="1" /><label for="rating-1">★</label>
            </div>
            <textarea name="review.text" id="review.text" class="full-width" placeholder="{{ i18n __ "pages.reviews.placeholder" }}">{{this.page}}</textarea>
            <button class="btn white black-text">{{ i18n __ "forms.submit"}}</button>
            <div class="ls-form-message box-container alizarin message hidden" id="form-message" data-wait="{{ i18n __ "forms.wait" }}">
              <p>{{ i18n __ "forms.wait" }}</p>
            </div>
          </form>
        </div>
      {{/if}}
    {{/unless}}
  {{/if}}
  {{>reviews}}
  <div class="center">
    <a class="btn white black-text" href="/bots/{{item.id}}/reviews">{{i18n __ 'pages.reviews.all'}}</a>
  </div>
</div>



<div class="ls-main-content container box-shadow ls-round">
  {{#if item.authors.length}}
  <div class="row">
    <div class="column">
      <p>
        {{i18n __ "pages.bots.offeredby"}}
        {{#each item.authors}}
        <a href="/bots/by/{{this.id}}"><span class="ls-bot-prefix label asbestos">{{this.username}}#{{this.discriminator}}</span></a>
        {{/each}}
      </p>
    </div>
  </div>
  {{/if}}
  <div class="row">
    <div class="one-half column">
      <p>
        {{ i18n __ "pages.bots.created" "date" created }}
      </p>
    </div>
    <div class="one-half column">
      <p>
        {{ i18n __ "pages.bots.modified" "date" edited }}
      </p>
    </div>
  </div>
  {{#if item.category}}
  <div class="row">
    <p>
      {{ i18n __ "pages.bots.category" "category" (i18n __ (concat "categories." item.category)) }}
    </p>
  </div>
  {{/if}}
</div>

<script src="/js/botpage.js"></script>
<script src="/js/reviewform.js"></script>
