<div class="ls-main-content main-content-container container box-shadow">
  <section class="ls-bot-profile ls-flex-row ls-wrap">
    <img class="avatar" alt="{{item.contents.name}}" src="{{item.cachedImages.avatar}}">
    <div class="ls-bot-profile-content-left">
      <h1 class="name">
        {{item.contents.name}}
        {{#if item.nsfw}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.nsfw"}}</span>
        {{/if}}
        {{#unless item.verified}}
          <span class="ls-list-nsfw">{{i18n __ "pages.bots.unverified"}}</span>
        {{/unless}}
      </h1>
      <p>
        {{#if item.trigger.prefix.length}}
          {{i18ns __n "pages.bots.prefix" item.trigger.prefix.length}}
        {{/if}}
        {{#each item.trigger.prefix}}
          <code class="ls-bot-prefix label asbestos">{{this}}</code>
        {{/each}}
        {{#if item.trigger.mentionable}}
          <code class="ls-bot-prefix label midnight-blue">{{i18n __ "pages.bots.mentionable"}}</code>
        {{/if}}
        {{#if item.trigger.customisable}}
          <code class="ls-bot-prefix label midnight-blue">{{i18n __ "pages.bots.customisable"}}</code>
        {{/if}}
      </p>
      <div class="ls-left-pad">
        {{#if item.support}}
        <a href="{{item.support}}">
          {{i18n __ "pages.bots.support"}}
        </a>
        {{/if}}
        {{#if item.github.owner}}
        {{#if item.github.repo}}
        <a href="https://github.com/{{item.github.owner}}/{{item.github.repo}}">
          {{i18n __ "pages.bots.github"}}
        </a>
        {{/if}}
        {{/if}}
        {{#if canEdit}}
          <a href="/bots/{{item.id}}/edit">
            {{i18n __ "pages.bots.edit"}}
          </a>
          <a href="/bots/{{item.id}}/delete">
            {{i18n __ "pages.bots.delete"}}
          </a>
          <a href="/bots/{{item.id}}/configure">
            {{i18n __ "pages.bots.configure"}}
          </a>
        {{/if}}
      </div>
      <div class="ls-left-pad">
        {{#if item.flags.inAppPurchases}}
          <span>{{i18n __ "pages.bots.inAppPurchases"}}</span>
        {{/if}}
        {{#if item.flags.adverts}}
          <span>{{i18n __ "pages.bots.adverts"}}</span>
        {{/if}}
      </div>
    </div>
    <div class="ls-bot-profile-content-right">
      {{#if item.invite}}
        <a class="btn discord" href="{{item.invite}}">
          {{i18n __ "pages.bots.invite"}}
        </a>
      {{/if}}
    </div>
  </section>
  {{#if item.pageDisplayedLanguage}}<p><i>{{i18n __ "errors.bots.no_suitable_lang" "language" (i18n __ (concat "locales." item.pageDisplayedLanguage))}}</i></p>{{/if}}
  <div id="ls-short-description" class="ls-custom-content">
    {{item.contents.description}}
  </div>
  <div id="ls-custom-content" class="ls-custom-content hidden">
    {{{contents}}}
  </div>
  <div id="ls-more" class="ls-custom-content-button box-shadow">
    <p>{{i18n __ "pages.bots.more"}}</p>
    <img src="/ModestaCSS/css/images/arrow.png">
  </div>
  <div id="ls-less" class="ls-custom-content-button ls-custom-content-less box-shadow hidden">
    <p>{{i18n __ "pages.bots.less"}}</p>
    <img src="/ModestaCSS/css/images/arrow.png">
  </div>
</div>

{{#if item.cachedImages.preview.length}}
<div class="ls-main-content main-content-container container box-shadow center">
  <div id="ls-image-slider" class="ls-image-slider">
    {{#each item.cachedImages.preview}}
      <img src="{{this}}">
    {{/each}}
  </div>
</div>

<script src="/node_modules/tiny-slider/dist/tiny-slider.js"></script>
{{/if}}
<script src="/js/botpage.js"></script>
