<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ "pages.configuration.token" }}</h2>
  {{item.token}}
  <form method="POST" action="/bots/{{item.id}}/token">
    <button class="btn white black-text">{{ i18n __ "pages.configuration.renew" }}</button>
  </form>
</div>
<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ "pages.configuration.hide.title" }}</h2>
  <p>{{ i18n __ "pages.configuration.hide.description" }}</p>
  <form method="POST" action="/bots/{{item.id}}/hide">
    {{#if item.hide}}
      <button class="btn emerald">{{ i18n __ "pages.configuration.hide.disable" }}</button>
    {{else}}
      <button class="btn alizarin">{{ i18n __ "pages.configuration.hide.enable" }}</button>
    {{/if}}
  </form>
</div>
