<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ "pages.configuration.token.title" }}</h2>
  <p>{{ i18n __ "pages.configuration.token.description" }}</p>
  <code>
    {{item.token}}
  </code>
  <form method="POST" action="{{languagePrefix}}/bots/{{item.id}}/token">
    <button class="btn white black-text">{{ i18n __ "pages.configuration.renew" }}</button>
  </form>
  <a class="btn white black-text" href="{{links.docs}}">{{ i18n __ "pages.configuration.token.docs" }}</a>
</div>
<div class="ls-main-content container box-shadow ls-round">
  <h2>{{ i18n __ "pages.configuration.hide.title" }}</h2>
  <p>{{ i18n __ "pages.configuration.hide.description" }}</p>
  <form method="POST" action="{{languagePrefix}}/bots/{{item.id}}/hide">
    {{#if item.hide}}
      <button class="btn emerald">{{ i18n __ "pages.configuration.hide.disable" }}</button>
    {{else}}
      <button class="btn alizarin">{{ i18n __ "pages.configuration.hide.enable" }}</button>
    {{/if}}
  </form>
</div>
