<div class="ls-main-content container box-shadow ls-round">
  <form>
    <h2>{{i18n __ 'pages.langdev.title'}}</h2>
    {{#each getLocales}}
      <div class="ls-flex-row">
        <input type="checkbox" id="{{this}}" name="lang[]" value="{{this}}">
        <label for="{{this}}">{{this}}</label>
      </div>
    {{/each}}
    <button>{{i18n __ 'pages.langdev.compare'}}</button>
  </form>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <td>
            {{i18n __ 'pages.langdev.key'}}
          </td>
          {{#each data}}
            <td>
              {{@key}}
            </td>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each keys}}
          <tr>
            <td>
              {{this}}
            </td>
            {{#each ../data}}
              <td>
                {{#with (lookup this ../this)}}
                  {{this}}
                {{else}}
                  <span class="ls-list-nsfw">{{i18n ../../__ 'pages.langdev.notfound'}}</span>
                {{/with}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
