doctype html

// MIT License
//
// Copyright (c) 2017 Moustacheminer Server Services
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

html
	head
		block title
			title #{title ? `${title} -` : ''} #{__('website')}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		meta(name="theme-color" content="#FFFFFF")
		meta(name="author" content="7coil")
		link(rel="publisher" href="https://moustacheminer.com")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet")
		link(href="/css/ls.css" rel="stylesheet")
		link(href="/img/favicon.png" rel="shortcut-icon")
		link(href="/img/favicon.png" rel="icon")
	body
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			button.navbar-toggler.navbar-toggler-right.collapsed(type="button" data-toggle="collapse" data-target="#navbar")
				span.navbar-toggler-icon
			a.navbar-brand(href="/") #{__('nav_header')}
			#navbar.navbar-collapse.collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="/docs") #{__('nav_documentation')}
					li.nav-item
						a.nav-link(href="/list/all") #{__('nav_all')}
					li.nav-item
						a.nav-link(href="/list/queue") #{__('nav_queue')}
					if user
						li.nav-item
							a.nav-link(href=`/list/${user.id}`) #{user.username}
						li.nav-item
							a.nav-link(href="/add") #{__('nav_add')}
						li.nav-item
							a.nav-link(href="/auth/logout") #{__('nav_logout')}
					else
						li.nav-item
							a.nav-link(href="/auth") #{__('nav_login')}
					li.nav-item
						a.nav-link(href="/lang") #{__('nav_lang')}
					a.nav-link(href=list_invite) #{__('list_invite')}
		main
			block jumbotron
			block content
		footer
			block footer
				.container
					hr
					p #{__('footer_copyright')}
		block script
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
