extends templates/site.pug

block title
	title #{__('add_title')} - #{__('website')}

block main
	h1 #{__('add_jumbotron')}
	p: i #{__('add_welcome')}
	form(method="post")
		.form-group
			label(for="id") #{__('add_id')}
			input#id(type="text" name="id" maxlength="70" placeholder=__('add_id_placeholder') required pattern="\\d+")
		.form-group
			label(for="name") #{__('add_name')}
			input#name(type="text" name="name" maxlength="32" placeholder=__('add_name_placeholder'))
		.form-group
			label(for="count") #{__('add_guild_count')}
			input#count(type="number" name="count" value="0" min="0" max="1000000" step="1" placeholder=__('add_guild_count_placeholder') required)
		.form-group
			label(for="avatar") #{__('add_avatar_url')}
			input#avatar(type="text" name="avatar" maxlength="2000" placeholder=__('add_avatar_url_placeholder') pattern="https:\\/\\/.+")
		.form-group
			label(for="invite") #{__('add_invite_url')}
			input#invite(type="text" name="invite" maxlength="2000" placeholder=__('add_invite_url_placeholder') pattern="https?:\\/\\/.+")
			a(href="https://discordapp.com/developers/tools/oauth2-url-generator/?is_bot=true&require_grant=false" target="_blank") #{__('add_invite_url_generator')}
		.form-group
			label(for="shortDesc") #{__('add_shortdesc')}
			input#shortDesc(type="text" name="shortDesc" maxlength="200" placeholder=__('add_shortdesc_placeholder') required)
		.form-group
			label(for="prefix") #{__('add_prefix')}
			input#prefix(type="text" name="prefix" maxlength="200" placeholder=__('add_prefix_placeholder') required)
		.form-group
			label(for="owners") #{__('add_owners')}
			input#owners.form-control(type="text" name="owners" maxlength="200" placeholder=__('add_owners_placeholder'))
		.form-group
			label(for="type") #{__('add_longdesc')}
			select#type(name="type" placeholder=__('add_longdesc_placeholder') onchange="description();" onload="description();" required)
				option(value="" disabled selected) #{__('add_longdesc_select')}
				optgroup(label=__('add_longdesc_category_richtext'))
					option(value="markdown") #{__('add_longdesc_markdown')}
					option(disabled value="asciidoc") #{__('add_longdesc_asciidoc')}
				optgroup(label=__('add_longdesc_category_html'))
					option(value="iframe") #{__('add_longdesc_iframe')}
					option(value="html") #{__('add_longdesc_html')}
		#description.form-group
		p: i #{__('add_advanced')}
		.form-group
			label(for="theme") #{__('add_theme')}
			select#theme(name="theme" placeholder=__('add_theme_placeholder') required)
				for theme in themes
					option(value=theme) #{__(`theme_${theme}`)}
		button(type="submit") #{__('add_submit')}
		input.hide(type="text" name="csrf" value=csrf)

block script
	script(src="/js/add.js")