extends templates/site.pug

block title
	title #{botinfo.name} - #{__('website')}

block embed
	meta(name="author" content=`${botinfo.ownerinfo.username}#${botinfo.ownerinfo.discriminator}`)
	meta(name="og:description" content=botinfo.shortDesc)
	meta(name="og:title" content=botinfo.name)
	meta(name="og:site_name" content=__('website'))
	meta(name="og:image" content=(botinfo.avatar || '/img/terminal.png'))
	meta(name="og:type" content="website")

block jumbotron
	.jumbotron
		.container
			.media
				img.d-flex.mr-3.icon(src=(botinfo.avatar || '/img/terminal.png') alt=__('list_avatar_fail'))
				.media-body
					h5.mt-0 #{botinfo.name}
						if botinfo.count
							span.badge.badge-default.left #{__('list_count', { count: botinfo.count })}
						if !botinfo.approved
							span.badge.badge-danger.left #{__('list_unverified')}
						if botinfo.ownerinfo
							span.badge.badge-info.left #{botinfo.ownerinfo.username}##{botinfo.ownerinfo.discriminator}
					span #{botinfo.shortDesc}
					p #{__('list_prefix', { prefix: botinfo.prefix })}
			.row
				if user && user.admin
					if !botinfo.approved && csrf
						form.buddon(action=`/bot/${botinfo.id}/approve` method="POST")
							button.btn.btn-success(type="submit") #{__('list_approve')}
							input.hide(type="text" name="id" botinfoue=`${botinfo.id}`)
							input.hide(type="text" name="csrf" botinfoue=`${csrf}`)
							input.hide(type="text" name="approve" botinfoue="true")
					if csrf
						a.btn.btn-danger(href=`/bot/${botinfo.id}/remove`) #{__('list_remove')}
					a.btn.btn-info(target="_blank" href=`https://discordapp.com/oauth2/authorize?client_id=${botinfo.id}&scope=bot&permissions=0&guild_id=${guild_id}`) #{__('list_no_perms_invite')}
				if botinfo.editable
					a.btn.btn-primary(href=`/bot/${botinfo.id}/edit`) #{__('list_edit')}
					a.btn.btn-danger(href=`/bot/${botinfo.id}/delete`) #{__('list_delete')}
					a.btn.btn-info(href=`/bot/${botinfo.id}/token`) #{__('list_token')}
				a.btn.btn-info(href=botinfo.invite) #{__('list_invite')}

block content
	.container
		.row
			.col-12
				if botinfo.type === 'iframe'
					iframe.botiframe(src=`${botinfo.longDesc}`)
				else if (botinfo.type === 'markdown' || botinfo.type === 'asciidoc' || botinfo.type === 'html')
					!= render

block script
	#modal.modal.fade(tabindex="-1" role="dialog")
		.modal-dialog.modal-lg(role="document")
			#modalContent.modal-content
	script(src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js")

