extends templates/site.pug

block title
	title #{__('website')} - #{__('delete_title')}

block main
	h1 #{__('delete_sure')}
	form.inline-block(method="POST")
		button.button(type="submit") #{__('yes')}
		input.hide(type="text" name="csrf" value=`${csrf}`)
	a.button(data-ajax-url href="/") #{__('no')}
