extends templates/site.pug

block title
	title Languages / #{__('lang_title')} - #{__('website')}

block main
	h1 #{__('lang_languages')}
	for language in languages
		li: a(href=`/lang/${language}`) #{__(`lang_${language}`)}
