extends templates/site.pug

block main
	section.jumbotron
		i: h2 #{__('list_jumbotron')}
		input(id="search" type="text" placeholder=__('list_search'))
	if bots.length
		.horizontal.wrap
			each botinfo in bots
				section.botcard(id=botinfo.id data-random=botinfo.random data-rating=botinfo.rating)
					.horizontal.info
						.item
							h1 #{botinfo.name}
							if botinfo.count
								span.pill #{__('list_count', { count: botinfo.count })}
							if botinfo.ownerinfo
								each owner in botinfo.ownerinfo
									if owner
										span.pill #{owner.username}##{owner.discriminator}
							if !botinfo.approved
								span.pill.red #{__('list_unverified')}
							p #{botinfo.shortDesc}
						.item.right
							img(src=(botinfo.avatar || '/img/terminal.png') onerror="imageFail(this)" alt=__('list_avatar_fail'))
					.horizontal.wrap
						if botinfo.editable >= 3 && !botinfo.approved && csrf
							form.inline-block(action=`/bot/${botinfo.id}/approve` method="POST")
								button.button.hover(type="submit") #{__('list_approve')}
								input.hide(type="text" name="csrf" value=`${csrf}`)
						if botinfo.editable >= 3 && csrf
							a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/remove`) #{__('list_remove')}
						if botinfo.editable >= 3
							a.button.hover(target="_blank" href=`https://discordapp.com/oauth2/authorize?client_id=${botinfo.id}&scope=bot&permissions=0&guild_id=${guild_id}`) #{__('list_no_perms_invite')}
						if botinfo.editable >= 1
							a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/edit`) #{__('list_edit')}
						if botinfo.editable >= 2
							a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/delete`) #{__('list_delete')}
						if botinfo.editable >= 1
							a.button.hover(data-ajax-url href=`/bot/${botinfo.id}/token`) #{__('list_token')}
						a.button.hover(data-ajax-url href=`/bot/${botinfo.id}`) #{__('list_info')}
						a.button.hover(href=botinfo.invite) #{__('list_invite')}
	else
		p #{__('list_no_results')}

block script
	script(src="/js/fuzzy.js")
	script(src="/js/search.js")
