extends templates/site.pug

block title
	title #{__('theme_title')} - #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code #{__('theme_themes')}

block content
	.container
		.row
			.col-12
				li: a(href="/theme/default") #{__('theme_default')}
				li: a(href="/theme/table") #{__('theme_table')}
