doctype html

// Site by abalabahaha
// ls.terminal.ink compatibility mode

html
	head
		block title
			title #{__('website')}
		block embed
		link(rel="stylesheet" href="https://bots.discord.pw/css/app.css")
		link(rel="stylesheet" href="/css/botsdiscordpw/app.css")
	body
		nav.nav
			.nav-left
				a.nav-item.title.is-4(href="/") Discord Bots
			if (user)
				span.icon.avatar.larger.is-hidden-tablet
					img(src=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png`)
			span#nav-toggle.nav-toggle
				span
				span
				span
			#nav-toggle.nav-right.nav-menu
				span
				span
				span
			#nav-menu.nav-right.nav-menu
				a.nav-item(href=list_invite)
					span Invite
				a.nav-item(href="/docs")
					span Docs
				if (user)
					a.nav-item(href="/bot/add")
						span Add Bot
					a.nav-item(href=`/list/${user.id}`)
						span.icon.avatar.is-hidden-mobile
							img(src=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png`)
						span #{user.username}
					a.nav-item(href="/auth/logout")
						span Logout
		main(role="main")
			.container
				block content
		footer.footer
			.container
				.content.has-text-centered
					p ls.terminal.ink Legacy Compatibility mode. 
					p
						i Yes really, we support 
							a(href="https://bots.discord.pw") bots.discord.pw
	script(src="https://bots.discord.pw/js/app.js")
